{% extends "base.html" %}
{% load static %}

{% block page_content %}
<div class="container">
<h1>{{ project.title }}</h1>
    <div class="row">
        <div class="col-md-6">
            <img src="{% static project.image %}" alt="" width="100%">
        </div>
        <div class="col-md-4">
            <h5>ABOUT THE PROJECT</h5>
            <p>{{ project.description }}</p>
            <br>
            <h5>MADE WITH</h5>
            <p>{{ project.technology }}</p>
            <br>
            <p>
                <span><a href="{{ project.githuburl }}" target="_blank">GITHUB</a></span><span>  |  </span>
                <span><a href="{{ project.livesite }}" target="_blank">LIVE SITE</a></span>
            </p>
        </div>
    </div>
</div>
{% endblock %}